textarea.code-area {
    background: none;
    border: none;
    outline: none;
    resize: none;

    width: 100%;
    height: 100%;
}

.code-output {
    max-width: max-content;
    overflow: auto;
}

.col-search {
    display: block;
    padding: 3px;
    width: 100%;
}

.required::after {
    content: '*'
}

table th {
    min-width: 100px;
}

.failed-input::after {
    display: block;
    content: attr(data-fail-reason);
    color: red;
}